$dark: #191716;
$red: #8B1E1D;
$yellow: #F5CF36;
$animation-delay: .5s;
$anim-curve: cubic-bezier(1,0,.75,.75);
nav {
  background: white;
  margin-top: -3em;
  height: 3em;
  width: 100%;
  color: $dark;
  padding: .5em 3em;
  @media screen and (max-width: 800px) {
    padding: .5em 1.5em;
  }
  a.home {
    background-image: url('../img/tag.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 2em;
    width: 200px;
    display: block;
    position: absolute;
    text-decoration: none;
    &:after {
      content: "EST. 2013";
      position: relative;
      left: 115px;
      opacity: 0;
      text-decoration: none;
      border: none;
      bottom: -10px;
      font-family: "azo-sans-uber";
      color: $dark;
      font-size: .6em;
      font-weight: 900;
      letter-spacing: .01em;
    //   @include animation(establishedIn .01s forwards);
      animation: establishedIn 0.1s forwards;
    }
  }
  label {
    z-index: 9000;
    display: block;
    position: absolute;
    top: .75em;
    right: 1.5em;
    width: 4em;
    cursor: pointer;
    background: $dark;
    transition: .3s all;
    opacity: 0;
    @media screen and (min-width: 800px) {
      display: none;
    }
    &:after {
      content: 'menu';
      position: relative;
      font-family: "azo-sans-web";
      color: white;
      font-size: .7em;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: .2em;
      left: 1.1em;
    }
    &:hover {
      background: $red;
    }
    animation: fadeIn .01s forwards;
  }
  #menuToggle { display: none }
  #menuToggle:checked {
    &~.home {
      z-index: 2000;
      background-image: url('../img/tagwhite.png');
      &:after { color: transparent }
    }
    &~label {
      background: white;
      &:after {
        content: 'close';
        left: .9em;
        color: $red;
      }
      &:hover { background: white }
    }
    &~ul {
      background: $red;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      padding: 3.5em 0;
      opacity: 1;
      li {
        display: block;
        text-align: center;
        margin: 1.5em 0;
        a {
          color: white;
          font-size: 1.3em;
          line-height: 1.3em;
          font-family: "azo-sans-uber";
          font-weight: 900;
          letter-spacing: .1em;
          text-transform: uppercase;
          transition: .15s color;
          &:hover, &.active { color: $yellow }
        }
        opacity: 1;
        margin-top: 0;
        &:nth-of-type(1) { transition: .15s opacity .2s, .15s margin-top .2s }
        &:nth-of-type(2) { transition: .15s opacity .3s, .15s margin-top .3s }
        &:nth-of-type(3) { transition: .15s opacity .4s, .15s margin-top .4s }
        &:nth-of-type(4) { transition: .15s opacity .5s, .15s margin-top .5s }
      }
    }
  }
  @media screen and (max-width: 800px) {
    ul {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1000;
      padding: 3.5em 0;
      opacity: 0;
      li {
        display: block;
        text-align: center;
        opacity: 0;
        margin-top: -1em;
        a {
          color: white;
          font-size: 1.3em;
          line-height: 1.3em;
          font-family: "azo-sans-uber";
          font-weight: 900;
          letter-spacing: .1em;
          text-transform: uppercase;
          &:before {
            content: "";
            z-index: -1;
            position: absolute;
            margin-top: .2em;
            left: -.5em;
            height: .5rem;
            width: 0;
            background: $yellow;
            transition: .15s all;
          }
        }
        &.social { display: block }
      }
      &:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../img/grain.png') center repeat;
      }
    }
  }
  ul, li {
    display: inline-block;
    a {
      text-decoration: none;
      color: $dark;
      font-size: .7em;
      font-family: "azo-sans-web";
      font-weight: 400;
      position: relative;
      z-index: 1;
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
      &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 9px;
        left: -.5em;
        height: 2px;
        z-index: 9;
        width: 0;
        background: lighten($red, 20%);
        transition: .15s all;
      }
      &:hover:before, &.active:before {
        width: calc(100% + 1em);
      }
    }
  }
  ul {
    position: absolute;
    right: 3em;
    transition: .3s all;
    line-height: 2em;
    li {
      margin-left: 1em;
      &.social {
        display: none;
        a {
          display: inline-block;
          width: 25px;
          height: 25px;
          padding: 25px;
          margin: -25px .25em 0 .25em;
          &.fb { background: url('../img/icons/fb.png') center no-repeat; background-size: 50%; }
          &.tw { background: url('../img/icons/tw.png') center no-repeat; background-size: 50%; }
          &.ig { background: url('../img/icons/ig.png') center no-repeat; background-size: 50%; }
          &.em { background: url('../img/icons/em.png') center no-repeat; background-size: 50%; }
          &:before { display: none }
          border: 1em 1em 1em 1em soild transparent;
          &:hover { transform: scale(1.2); }
        }
      }
    }
  }
  animation: navIn .01s forwards;
}
nav {
    a.home:after { animation: establishedIn .3s ease-in $animation-delay+4.5s forwards; }
    label { animation: fadeIn .3s ease-in $animation-delay+4s forwards; }
    animation: navIn 3s ease-in $animation-delay+1s forwards;
}

@keyframes navIn {
    to { margin-top: 0 }
}
@keyframes establishedIn {
  to {
    left: 130px;
    opacity: 1;
  }
}
@keyframes fadeIn {
  to { opacity: 1 }
}